body {
    margin: 0;
    background-color: #5e3f22;
    overflow: hidden;
  }

  body, html {
    height: 100%;
  }
  
  .room {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .wall {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
  }
  
  .left-wall {
    width: 40vw;
  }

  .center-wall {
    position: absolute;
    height: 635px;
    left: 600px; 
    width: 400px;
    top: 3px;
    display: flex;
    justify-content: center;
  }
  
  .right-wall {
    right: 0;
    width: 35vw;
  }

/* .left-wall,
.right-wall {
  width: 25%;
  min-width: 200px;
} */


  .bookshelf {
    top: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    max-height: 622px;
    overflow-y: auto;
    height: 50hv;
    position: absolute;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    border-radius: 4px;
    background-color: #5e3f22;
}
  
  .book-row {
    background: #2a1c0f;
    padding: 10px 20px;
    display: flex;
    gap: 25px;
    box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.4);
  }
  
  .book {
    width: 60px;
    height: 90px;
    background: #5a4476;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    box-shadow: inset -2px -2px 6px rgb(136 100 183),
                inset 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
    margin: auto;
  }

  .book a{
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  
  .book:hover {
    transform: scale(1.2);
  }
  
  .book.empty {
    background-color: #5a4476;
    opacity: 0.4;
    pointer-events: none;
  }
  
  .floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background: white;
    z-index: 0;
  }
  
  .rug {
    width: 1000px;
    height: 157px;
    background: #c3baba;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 1;
  }
  
  .rectangle {
    padding: 5px;
    line-height: 80px;
    height: 75px;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
  }
  .square {
    height: 50px;
    width: 50px;
    background-color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .circle {
    height: 120px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 94px;
    right: 38px;
    overflow: hidden;
  }

  .poster{
    padding: 5px;
    line-height: 80px;
    height: 200px;
    width: 150px;
    background-color: #ffffff;
    box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
}