body {
  margin: 0;
  background-color: #3b280d; 
  overflow: hidden;
}

body, html {
  height: 100%;
}

/* @media only screen and (max-width: 1500px) {
  
  
}
*/
/* @media only screen and (max-width: 800px) {
  
  .bookshelf{
    width: 1000px;
    max-height: 1000px;
  }
  .center-wall{
    display: block;
  }
  .room{
    justify-content: center;
  }
  .left-wall,
  .right-wall {
    display: none;
  }
}  */

.roomWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.room {
  height: 80%;;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 23px solid #5e3f22;
  background-color:#440a0a; 
  background-image: url(wallpaper.jpg); 
  background-size: 220px; 
}

.wall {
  box-shadow: 0 0px 6px rgb(76 49 24);
}

.left-wall, .right-wall{
  flex-grow: 1;
  display: flex; 
  justify-content: space-evenly;
  align-items: anchor-center; 

}

.center-wall {
  width: 500px;
  overflow: hidden;
}

.right-wall {
}

.bookshelf {
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background-color: #5e3f22;
  height: 100%; 
  justify-content: space-around;
  /* width: 500px;  */
  border: 14px solid rgb(94 63 34);
}
  
.book-row {
  background: #2a1c0f;
  padding: 10px 20px;
  display: flex;
  gap: 25px;
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.4);
  padding: 5% 0% 5% 0%;
}

.book {
  width: 82px;
  height: 123px;
  background: #72271f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  border-radius: 2px;
  box-shadow: inset -2px -2px 6px rgb(123 59 52), inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
  margin: auto;
}

.book a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.book:hover {
  transform: scale(1.2);
}

.book.empty {
    background-color: #72271f;
    opacity: 0.4;
    pointer-events: none;
}

.floor {
  /* background: white;  */
  flex:1; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-image: url('floor-wood.jpg');
  background-size: cover; /* or try contain or 100% auto */
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
}
  
.rug {
      width: 85%;
    display: flex;
    height: 85%;
    background: #72271f;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
  
.rectangle {
  padding: 5px;
  line-height: 80px;
  height: 75px;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
}
.square {
  height: 50px;
  width: 50px;
  background-color: #eae4d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.circle {
  height: 156px;
  width: 156px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  border: 8px solid rgb(234 228 214); 
}

.poster{
  padding: 7px;
  line-height: 80px;
  height: 166px;
  width: 127px;
  background-color: oklab(0% 0 0);
  box-shadow: 12px 11px 9px 0px rgba(0, 0, 0, 0.25);
  
  
  /* border: 8px solid rgb(0, 0, 0); 
  border-radius: 10px;  */
  
}

.wall-base {
  bottom: 19vh;
  width: 100%;
  height: 22px;
  background-color: #5e3f22;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
}

img{
   width: 100%; 
   height: 100%; 
   object-fit: cover; 
}